.timeline-container:hover {
  background-color: rgb(237, 239, 247);
}


.timeline-element {
  display: flex;
  align-items: center;
  // padding-left: 20px;
  height: 24px;
  cursor: pointer;

  .timeline-details {
    display: flex;
    align-items: center;
    color: #42526E;
    height: 100%;

    span {
      margin-right: 5px;
    }

    .timeline-icon {
      display: flex;
      align-items: center;
      height: 100%;
      width: 22px;
      transition: .1s all;

      svg {
        flex: 1
      }

      &:hover {
        background-color: #d5d7e0;
      }
    }
  }

  .timeline-span-container {


    flex: 1 1 70%;

    .timeline-span {
      height: 12px;
      // width: 200px;
      border-radius: 2px;
      background-color: rgb(255, 149, 31);
    }
  }
}