.timeline-container:hover {
  background-color: rgb(237, 239, 247);
}


.timeline-element {
  display: flex;
  align-items: center;
  // padding-left: 20px;
  height: 24px;
  cursor: pointer;

  .timeline-details {
    display: flex;
    align-items: center;
    color: #42526E;
    height: 100%;

    span {
      margin-right: 5px;

      img {
        width: 16px;
      }
    }

    .route {
      font-style: italic;
      font-size: 12px;
      color: #9ba1af;
    }

    .operation-icon {
      width: 15px;
    }

    .chevron-icon {
      display: flex;
      align-items: center;
      height: 100%;
      width: 22px;
      transition: .1s all;


      svg {
        flex: 1
      }

      &:hover {
        background-color: #d5d7e0;
      }
    }
  }

  .timeline-span-container {


    flex: 1 1 60%;

  }

  .timeline-span {
    position: relative;
    height: 12px;
    // width: 200px;
    z-index: 10;
    border-radius: 2px;
    background-color: rgb(255, 149, 31);
  }


}

.TooltipContent {
  border-radius: 4px;
  padding: 10px 15px;
  font-size: 12px;
  font-weight: 600;
  line-height: 1;
  color: white;
  background-color: #42526E;
  box-shadow: hsl(206 22% 7% / 35%) 0px 10px 38px -10px, hsl(206 22% 7% / 20%) 0px 10px 20px -15px;
  user-select: none;
  animation-duration: 100ms;
  // animation-timing-function: cubic-bezier(0.16, 1, 0.3, 1);
  will-change: transform, opacity;
  position: relative;
  z-index: 11;
}

.TooltipContent[data-state='delayed-open'][data-side='top'] {
  animation-name: slideDownAndFade;
}

.TooltipContent[data-state='delayed-open'][data-side='right'] {
  animation-name: slideLeftAndFade;
}

.TooltipContent[data-state='delayed-open'][data-side='bottom'] {
  animation-name: slideUpAndFade;
}

.TooltipContent[data-state='delayed-open'][data-side='left'] {
  animation-name: slideRightAndFade;
}

.TooltipArrow {
  fill: #42526E;
}

@keyframes slideUpAndFade {
  from {
    opacity: 0;
    transform: translateY(2px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideRightAndFade {
  from {
    opacity: 0;
    transform: translateX(-2px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideDownAndFade {
  from {
    opacity: 0;
    scale: 0.8;
    transform: translateY(-2px);
  }

  to {
    opacity: 1;
    scale: 1;
    transform: translateY(0);
  }
}

@keyframes slideLeftAndFade {
  from {
    opacity: 0;
    scale: 0.8;
    transform: translateX(2px);
  }

  to {
    opacity: 1;
    scale: 1;
    transform: translateX(0);
  }
}