.timeline-container:hover {
  background-color: rgb(237, 239, 247);
}


.timeline-element {
  display: flex;
  align-items: center;
  // padding-left: 20px;
  height: 24px;

  .timeline-details {
    // flex: 1 1 30%;
  }

  .timeline-span {
    flex: 1 1 70%;
    height: 12px;
    // width: 200px;
    background-color: rgb(255, 149, 31);
  }


}